p 
{
    color:chocolate;
    font-size: large;
}

nav
{
    background-color:#47bdec;
}
nav a
{
    display:inline-block;
    padding:10px;
    font-size:20px;
    color:white;
    text-decoration:none;
}
nav a:hover{
    background-color:#333;
}